header {
  border: 1px solid red;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-left: 2em;
}

.disabled {
  background-color: grey;
}

a.disabled {
  background-color: purple;
}

.active {
  background-color: yellow;
}
